<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Feedback Display</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let feedback of feedbackArray">
      <ion-label style="display: block; padding: 10px;">
        <div style="font-weight: bold;">Faculty name: {{ feedback.teacherName }}</div>
        <div style="margin-top: 10px;">
          <div><span style="font-weight: bold;">Q1:</span> How satisfied are you with the course content?</div>
          <div>{{ feedback.q1 }}</div>
        </div>
        <div style="margin-top: 10px;">
          <div><span style="font-weight: bold;">Q2:</span> Were the learning objectives clearly defined?</div>
          <div>{{ feedback.q2 }}</div>
        </div>
        <div style="margin-top: 10px;">
          <div><span style="font-weight: bold;">Q3:</span> Did the course meet your expectations?</div>
          <div>{{ feedback.q3 }}</div>
        </div>
        <div style="margin-top: 10px;">
          <div><span style="font-weight: bold;">Q4:</span> How likely are you to recommend this course?</div>
          <div>{{ feedback.q4 }}</div>
        </div>
        <div style="margin-top: 10px;">
          <div><span style="font-weight: bold;">Q5:</span> How effective was the teaching methodology?</div>
          <div>{{ feedback.q5 }}</div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
