.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }


  ion-label{
    margin-top: 2rem;
  }
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  ion-list {
    width: 100%;
    max-width: 400px; /* Adjust this value to your desired width */
    margin-bottom: 20px;
  }